* {
  margin: 0;
}

:root {
  --primary-color: #f5f8fd;
  --secondary-color: #5e72e4;
  --back-color: white;
}

#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
